.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.claude/**
.gitignore
.npmrc
.oxlintrc.json
.oxfmtrc.json
esbuild.js
mise.toml
pnpm-lock.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
**/.vscode-test.*
